In [ ]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [ ]:
import sys
sys.path.insert(0,'drive/Colab')

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving energy-usage-2010.csv to energy-usage-2010.csv

In [ ]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "energy-usage-2010.csv" with length 27538657 bytes

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
import datetime as dt
from keras.models import Sequential
from keras.layers import Dense
import datetime as dt

Using TensorFlow backend.

In [ ]:
import io
ndata = pd.read_csv(io.StringIO(uploaded['energy-usage-2010.csv'].decode('utf-8')))
print(df)

      COMMUNITY AREA NAME  ...  OCCUPIED HOUSING UNITS
0          Archer Heights  ...                    23.0
1                 Ashburn  ...                    62.0
2          Auburn Gresham  ...                    34.0
3                  Austin  ...                    41.0
4                  Austin  ...                    19.0
...                   ...  ...                     ...
67046            Woodlawn  ...                    37.0
67047            Woodlawn  ...                    15.0
67048            Woodlawn  ...                    15.0
67049            Woodlawn  ...                     0.0
67050            Woodlawn  ...                    30.0

[67051 rows x 73 columns]

In [ ]:
ndata.head()

  COMMUNITY AREA NAME  ...  OCCUPIED HOUSING UNITS
0      Archer Heights  ...                    23.0
1             Ashburn  ...                    62.0
2      Auburn Gresham  ...                    34.0
3              Austin  ...                    41.0
4              Austin  ...                    19.0

[5 rows x 73 columns]

In [ ]:
ndata['ELECTRICITY ACCOUNTS'].head()

0    NaN
1      8
2    NaN
3    NaN
4    NaN
Name: ELECTRICITY ACCOUNTS, dtype: object

In [ ]:
null_columns=ndata.columns[ndata.isnull().any()]
ndata[ndata["ELECTRICITY ACCOUNTS"].isnull()][null_columns].head()

   CENSUS BLOCK  ... OCCUPIED HOUSING UNITS
0  1.703157e+14  ...                   23.0
2  1.703171e+14  ...                   34.0
3  1.703125e+14  ...                   41.0
4  1.703125e+14  ...                   19.0
6  1.703125e+14  ...                    0.0

[5 rows x 69 columns]

In [ ]:
ndata['ELECTRICITY ACCOUNTS'][ndata['ELECTRICITY ACCOUNTS']=="Less than 4"]=2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ndata.head()

  COMMUNITY AREA NAME  ...  OCCUPIED HOUSING UNITS
0      Archer Heights  ...                    23.0
1             Ashburn  ...                    62.0
2      Auburn Gresham  ...                    34.0
3              Austin  ...                    41.0
4              Austin  ...                    19.0

[5 rows x 73 columns]

In [ ]:
ndata=ndata.drop(['KWH TOTAL SQFT','THERMS TOTAL SQFT', 'KWH STANDARD DEVIATION 2010', 'KWH MINIMUM 2010','KWH 1ST QUARTILE 2010', 'KWH 2ND QUARTILE 2010','KWH 3RD QUARTILE 2010', 'KWH MAXIMUM 2010', 'KWH SQFT MEAN 2010','KWH SQFT STANDARD DEVIATION 2010', 'KWH SQFT MINIMUM 2010','KWH SQFT 1ST QUARTILE 2010', 'KWH SQFT 2ND QUARTILE 2010','KWH SQFT 3RD QUARTILE 2010', 'KWH SQFT MAXIMUM 2010','THERM MEAN 2010', 'THERM STANDARD DEVIATION 2010','THERM MINIMUM 2010', 'THERM 1ST QUARTILE 2010','THERM 2ND QUARTILE 2010', 'THERM 3RD QUARTILE 2010','THERM MAXIMUM 2010','THERMS SQFT MEAN 2010','THERMS SQFT STANDARD DEVIATION 2010', 'THERMS SQFT MINIMUM 2010','THERMS SQFT 1ST QUARTILE 2010', 'THERMS SQFT 2ND QUARTILE 2010','THERMS SQFT 3RD QUARTILE 2010', 'THERMS SQFT MAXIMUM 2010','AVERAGE STORIES','AVERAGE BUILDING AGE','CENSUS BLOCK','OCCUPIED HOUSING UNITS'],axis=1)

In [ ]:
ndata=ndata.dropna(subset=['BUILDING TYPE',
       'BUILDING_SUBTYPE'])
ndata.isna().sum()

COMMUNITY AREA NAME                      0
BUILDING TYPE                            0
BUILDING_SUBTYPE                         0
KWH JANUARY 2010                       871
KWH FEBRUARY 2010                      871
KWH MARCH 2010                         871
KWH APRIL 2010                         871
KWH MAY 2010                           871
KWH JUNE 2010                          871
KWH JULY 2010                          871
KWH AUGUST 2010                        871
KWH SEPTEMBER 2010                     871
KWH OCTOBER 2010                       871
KWH NOVEMBER 2010                      871
KWH DECEMBER 2010                      871
TOTAL KWH                              871
ELECTRICITY ACCOUNTS                   871
ZERO KWH ACCOUNTS                        0
THERM JANUARY 2010                    2230
THERM FEBRUARY 2010                   4232
THERM MARCH 2010                      1482
TERM APRIL 2010                       1575
THERM MAY 2010                        1857
THERM JUNE 2010                       1767
THERM JULY 2010                       1820
THERM AUGUST 2010                     1908
THERM SEPTEMBER 2010                  2282
THERM OCTOBER 2010                    1722
THERM NOVEMBER 2010                   1559
THERM DECEMBER 2010                   1544
TOTAL THERMS                          1296
GAS ACCOUNTS                          1296
KWH MEAN 2010                          871
TOTAL POPULATION                        14
TOTAL UNITS                             14
AVERAGE HOUSESIZE                       14
OCCUPIED UNITS                          14
OCCUPIED UNITS PERCENTAGE             2445
RENTER-OCCUPIED HOUSING UNITS           14
RENTER-OCCUPIED HOUSING PERCENTAGE    2618
dtype: int64

In [ ]:
#fillna , eksiklikleri(NaN) doldurur.
ndata['KWH JANUARY 2010'].fillna(ndata['KWH JANUARY 2010'].median(),inplace=True)
ndata['KWH FEBRUARY 2010'].fillna(ndata['KWH FEBRUARY 2010'].median(),inplace=True)
ndata['KWH MARCH 2010'].fillna(ndata['KWH MARCH 2010'].median(),inplace=True)
ndata['KWH APRIL 2010'].fillna(ndata['KWH APRIL 2010'].median(),inplace=True)
ndata['KWH MAY 2010'].fillna(ndata['KWH MAY 2010'].median(),inplace=True)
ndata['KWH JUNE 2010'].fillna(ndata['KWH JUNE 2010'].median(),inplace=True)
ndata['KWH JULY 2010'].fillna(ndata['KWH JULY 2010'].median(),inplace=True)
ndata['KWH AUGUST 2010'].fillna(ndata['KWH AUGUST 2010'].median(),inplace=True)
ndata['KWH SEPTEMBER 2010'].fillna(ndata['KWH SEPTEMBER 2010'].median(),inplace=True)
ndata['KWH OCTOBER 2010'].fillna(ndata['KWH OCTOBER 2010'].median(),inplace=True)
ndata['KWH NOVEMBER 2010'].fillna(ndata['KWH NOVEMBER 2010'].median(),inplace=True)
ndata['KWH DECEMBER 2010'].fillna(ndata['KWH DECEMBER 2010'].median(),inplace=True)
ndata['ELECTRICITY ACCOUNTS'].fillna(ndata['ELECTRICITY ACCOUNTS'].median(),inplace=True)
#ndata['ELECTRICITY ACCOUNTS'].fillna(ndata['ELECTRICITY ACCOUNTS'].median(),inplace=True)

In [ ]:
ndata.head()

  COMMUNITY AREA NAME  ... RENTER-OCCUPIED HOUSING PERCENTAGE
0      Archer Heights  ...                             0.3910
1             Ashburn  ...                             0.8059
2      Auburn Gresham  ...                             0.6759
3              Austin  ...                             0.7800
4              Austin  ...                             0.5790

[5 rows x 40 columns]

In [ ]:
ndata.isna().sum()

COMMUNITY AREA NAME                      0
BUILDING TYPE                            0
BUILDING_SUBTYPE                         0
KWH JANUARY 2010                         0
KWH FEBRUARY 2010                        0
KWH MARCH 2010                           0
KWH APRIL 2010                           0
KWH MAY 2010                             0
KWH JUNE 2010                            0
KWH JULY 2010                            0
KWH AUGUST 2010                          0
KWH SEPTEMBER 2010                       0
KWH OCTOBER 2010                         0
KWH NOVEMBER 2010                        0
KWH DECEMBER 2010                        0
TOTAL KWH                              871
ELECTRICITY ACCOUNTS                     0
ZERO KWH ACCOUNTS                        0
THERM JANUARY 2010                    2230
THERM FEBRUARY 2010                   4232
THERM MARCH 2010                      1482
TERM APRIL 2010                       1575
THERM MAY 2010                        1857
THERM JUNE 2010                       1767
THERM JULY 2010                       1820
THERM AUGUST 2010                     1908
THERM SEPTEMBER 2010                  2282
THERM OCTOBER 2010                    1722
THERM NOVEMBER 2010                   1559
THERM DECEMBER 2010                   1544
TOTAL THERMS                          1296
GAS ACCOUNTS                          1296
KWH MEAN 2010                          871
TOTAL POPULATION                        14
TOTAL UNITS                             14
AVERAGE HOUSESIZE                       14
OCCUPIED UNITS                          14
OCCUPIED UNITS PERCENTAGE             2445
RENTER-OCCUPIED HOUSING UNITS           14
RENTER-OCCUPIED HOUSING PERCENTAGE    2618
dtype: int64

In [ ]:
ndata['TOTAL KWH']=ndata['KWH JANUARY 2010']+ndata['KWH FEBRUARY 2010']+ndata['KWH MARCH 2010']+ndata['KWH APRIL 2010']+ndata['KWH MAY 2010']+ndata['KWH JUNE 2010']+ndata['KWH JULY 2010']+ndata['KWH AUGUST 2010']+ndata['KWH SEPTEMBER 2010']+ndata['KWH OCTOBER 2010']+ndata['KWH NOVEMBER 2010']+ndata['KWH DECEMBER 2010']

In [ ]:
ndata['THERM JANUARY 2010'].fillna(ndata['THERM JANUARY 2010'].median(),inplace=True)
ndata['THERM FEBRUARY 2010'].fillna(ndata['THERM FEBRUARY 2010'].median(),inplace=True)
ndata['THERM MARCH 2010'].fillna(ndata['THERM MARCH 2010'].median(),inplace=True)
ndata['TERM APRIL 2010'].fillna(ndata['TERM APRIL 2010'].median(),inplace=True)
ndata['THERM MAY 2010'].fillna(ndata['THERM MAY 2010'].median(),inplace=True)
ndata['THERM JUNE 2010'].fillna(ndata['THERM JUNE 2010'].median(),inplace=True)
ndata['THERM JULY 2010'].fillna(ndata['THERM JULY 2010'].median(),inplace=True)
ndata['THERM AUGUST 2010'].fillna(ndata['THERM AUGUST 2010'].median(),inplace=True)
ndata['THERM SEPTEMBER 2010'].fillna(ndata['THERM SEPTEMBER 2010'].median(),inplace=True)
ndata['THERM OCTOBER 2010'].fillna(ndata['THERM OCTOBER 2010'].median(),inplace=True)
ndata['THERM NOVEMBER 2010'].fillna(ndata['THERM NOVEMBER 2010'].median(),inplace=True)
ndata['THERM DECEMBER 2010'].fillna(ndata['THERM DECEMBER 2010'].median(),inplace=True)

In [ ]:
ndata['TOTAL THERMS']=ndata['THERM JANUARY 2010']+ndata['THERM FEBRUARY 2010']+ndata['THERM MARCH 2010']+ndata['TERM APRIL 2010']+ndata['THERM MAY 2010']+ndata['THERM JUNE 2010']+ndata['THERM JULY 2010']+ndata['THERM AUGUST 2010']+ndata['THERM SEPTEMBER 2010']+ndata['THERM OCTOBER 2010']+ndata['THERM NOVEMBER 2010']+ndata['THERM DECEMBER 2010']
ndata.isna().sum()

COMMUNITY AREA NAME                      0
BUILDING TYPE                            0
BUILDING_SUBTYPE                         0
KWH JANUARY 2010                         0
KWH FEBRUARY 2010                        0
KWH MARCH 2010                           0
KWH APRIL 2010                           0
KWH MAY 2010                             0
KWH JUNE 2010                            0
KWH JULY 2010                            0
KWH AUGUST 2010                          0
KWH SEPTEMBER 2010                       0
KWH OCTOBER 2010                         0
KWH NOVEMBER 2010                        0
KWH DECEMBER 2010                        0
TOTAL KWH                                0
ELECTRICITY ACCOUNTS                     0
ZERO KWH ACCOUNTS                        0
THERM JANUARY 2010                       0
THERM FEBRUARY 2010                      0
THERM MARCH 2010                         0
TERM APRIL 2010                          0
THERM MAY 2010                           0
THERM JUNE 2010                          0
THERM JULY 2010                          0
THERM AUGUST 2010                        0
THERM SEPTEMBER 2010                     0
THERM OCTOBER 2010                       0
THERM NOVEMBER 2010                      0
THERM DECEMBER 2010                      0
TOTAL THERMS                             0
GAS ACCOUNTS                          1296
KWH MEAN 2010                          871
TOTAL POPULATION                        14
TOTAL UNITS                             14
AVERAGE HOUSESIZE                       14
OCCUPIED UNITS                          14
OCCUPIED UNITS PERCENTAGE             2445
RENTER-OCCUPIED HOUSING UNITS           14
RENTER-OCCUPIED HOUSING PERCENTAGE    2618
dtype: int64

In [ ]:
#dropna, total population'daki eksik değerleri kaldırır.
ndata=ndata.dropna(subset=['TOTAL POPULATION'])

In [ ]:
ndata=ndata.drop(['KWH MEAN 2010','OCCUPIED UNITS PERCENTAGE','RENTER-OCCUPIED HOUSING PERCENTAGE'],axis=1)
ndata.head()

  COMMUNITY AREA NAME  ... RENTER-OCCUPIED HOUSING UNITS
0      Archer Heights  ...                           9.0
1             Ashburn  ...                          50.0
2      Auburn Gresham  ...                          23.0
3              Austin  ...                          32.0
4              Austin  ...                          11.0

[5 rows x 37 columns]

In [ ]:
#Aynı değerlere 0 ' dan başlayarak değer atamak.

from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

from sklearn.preprocessing import scale
colu=['COMMUNITY AREA NAME','BUILDING TYPE','BUILDING_SUBTYPE']

for col in colu:
    ndata[col] = le.fit_transform(ndata[col])

In [ ]:
ndata.head()

   COMMUNITY AREA NAME  ...  RENTER-OCCUPIED HOUSING UNITS
0                    1  ...                            9.0
1                    3  ...                           50.0
2                    4  ...                           23.0
3                    5  ...                           32.0
4                    5  ...                           11.0

[5 rows x 37 columns]

In [ ]:
ndata=pd.get_dummies(ndata,columns=['BUILDING TYPE','BUILDING_SUBTYPE'])
ndata.head()

   COMMUNITY AREA NAME  ...  BUILDING_SUBTYPE_5
0                    1  ...                   0
1                    3  ...                   0
2                    4  ...                   0
3                    5  ...                   0
4                    5  ...                   0

[5 rows x 44 columns]

In [ ]:
X=ndata.iloc[:, [0,14,15,30,32,33,35,36,37,38,39,40,41,42,43]].values
y=ndata.iloc[:, 2].values
y

array([3806., 7741., 3806., ..., 3031., 1055., 3057.])

In [ ]:
from sklearn.model_selection import train_test_split
#split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

# **MinMax Scaler**

In [ ]:
#Her özelliği belirli bir aralığa ölçeklendirerek özellikleri dönüştürür.
#Bu tahmin edici, her bir özelliği bireysel olarak, eğitim setinde verilen aralıkta olacak şekilde ölçeklendirir ve çevirir; sıfır ile bir arasında.

from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# **Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train, y_train)

#X_test'ime göre y_pred yani x_testime göre tahminleme yapıyorum.
y_pred = mlr.predict(X_test)
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, y_pred))

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

rmse, r2, adj_r2

(168337.22512226366, 0.04822893764826952, 0.04801567632633963)

# **KNN**

Bizim bir tane değerlendirme metriğimiz var, yani modelimizi değerlendireceğimiz sayısal bir sonuç;
Buna R^2 denir.Ve bu R'nin karesini almak demek değildir. r_square ' dir adı. 
R^2 = 1- (SSR/SST)
Eğer R^2 değeri bire ne kadar yakın ise bu o kadar iyi demektir!!

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10, weights='distance')
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(y_test, y_pred))
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

adj_r2 = 1 - float(len(y)-1)/(len(y)-len(mlr.coef_)-1)*(1 - r2)

r2, adj_r2

(0.07991098875593894, 0.0797048263639597)